@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap');


header{
  padding: 30px;
  background: #f44336;
  height: 40px;
}

.sidenav{
  width: 240px;
  position: absolute;
  height: 95vh;
  padding: 0 30px;
  left: -100%;
  transition: all .3s;
}

.sidenav.active{
  left: 0;
}

